div.maintext{
    border-bottom: 3px gray solid;
    padding:5px;
	vertical-align: middle;
	background-color: #66ccff50;
}
h1{
    color: green;
}
.rtext{
    position: relative;
    left: 90%;
    width: 10%;
    
}
.subline{
	background-image: linear-gradient(#DFDFDF,#e0c1ff);
}
p.textrow{
	color:#E38D13;
	margin: 1rem;
	font-size: medium;
}
.coin{
	width: 8rem;
	height: 8rem;
}
.line{
	margin: 0.5rem;
	vertical-align: middle;
	background-color: #66ccff50;
}
.linka{
	display: inline;
	float: right;
	position: relative;
	top: 2rem;
	right: 4rem;
	width: 3rem;
	height: 3rem;
	background-image: url(run_normal.png);
	background-repeat: no-repeat;
}
.tech{
	color: #22222250;
}
.textinput
{
	width: 60%;
	height: 4rem;
	border-radius: 0.25rem;
	border: gray 0.03125rem solid;
	margin: 0.3125rem;
}
.textinput:hover{
	border-color: #00BFFF;
}